/Music/Minecraft[[:space:]]Footsteps[[:space:]]-[[:space:]]Sound[[:space:]]Effect[[:space:]](HD).mp3 filter=lfs diff=lfs merge=lfs -text
/Music/adaptiveSoundtrackCalmDemo.mp3 filter=lfs diff=lfs merge=lfs -text
/Music/mysteryAmbient.mp3 filter=lfs diff=lfs merge=lfs -text
